<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" charset="UTF-8" content="initial-scale=1.0, user-scalable=no">
	<title>My Things</title>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
	<style>
	html, body {
  	   	height: 100%;
       	margin: 0;
       	padding: 0;
       	padding: 10px;
  		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 		background-color: white;
    }

      #map {
        height: 400px;
        width: 700px;
        float: top;
      }
    </style>

</head>
<body>
	{{{ body }}}
</body>
</html>